<h2>Enlaces</h2>
<div class="well">
    <ul>
        <li><a href="http://dwx.romhackhispano.org/" target="_blank">Darkwizardx Translations</a></li>
        <li><a href="http://dervour.romhackhispano.org/" target="_blank">Dervour Traducciones</a></li>
        <li><a href="http://devil.romhackhispano.org/" target="_blank">Devil Traducciones</a></li>
        <li><a href="http://eden.romhackhispano.org/" target="_blank">Edén Traducciones</a></li>
        <li><a href="http://nexo-hispano.romhackhispano.org/" target="_blank">El Nexo Hispano</a></li>
        <li><a href="http://klint-psk.romhackhispano.org/" target="_blank">Klint Proguctions</a></li>
        <li><a href="http://darkn.romhackhispano.org/" target="_blank">La web de Dark-N</a></li>
        <li><a href="http://magno.romhackhispano.org/" target="_blank">Magno Traducciones</a></li>
        <li><a href="http://oldcastlestreet.romhackhispano.org/" target="_blank">Old Castle Street</a></li>
        <li><a href="http://www.paladintranslations.romhackhispano.org/Main.htm" target="_blank">Paladin Knights Translations [Pkt]</a></li>
        <li><a href="http://www.romhackers.org/modules/news/" target="_blank">POrtal Brasileiro de Romhack e Emulação</a></li>
        <li><a href="http://okami.romhackhispano.org/" target="_blank">Reservoir Wolves</a></li>
        <li><a href="http://www.romhacking.net/" target="_blank">Romhacking.net</a></li>
        <li><a href="http://sayans.romhackhispano.org/" target="_blank">Sayans Traductions</a></li>
        <li><a href="http://blog.tales-tra.com/" target="_blank">Tales Translations</a></li>
        <li><a href="http://tiovictor.romhackhispano.org/" target="_blank">Traducciones del Tío Victor</a></li>
        <li><a href="http://traduccioneslukas.blogspot.com/" target="_blank">Traducciones Lukas</a></li>
        <li><a href="http://traduccionestapia.romhackhispano.org/" target="_blank">Traducciones Tapia</a></li>
        <li><a href="http://vagrant.romhackhispano.org/" target="_blank">Vagrant Traducciones</a></li>
    </ul>
</div>